<video width="1280" height="720" class="background" autoplay muted loop>
  <source src="../../../assets/videos/aerialshot.mp4" type="video/mp4">
</video>
<div class="content z-depth-4">
  <div class="container">
    <h1 class="indigo-text text-accent-3">Welcome to the Car Register Section</h1>
    <h5 class="indigo-text text-accent-3">Make sure you input the correct information. We can change it, but it can delay the drop-off process.</h5>
    <p>{{car}} or {{ car | json}} </p>
    <p>{{make}} {{model}} {{year}} </p>
    <hr>
    <form class="col s12" [formGroup]="cForm" (ngSumbit)="addCar(cForm.value)" >
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons  prefix">create</i>
          <input name="make" id="make" type="text" class="validate" required formControlName="make" >
          <label for="make">Make / Manufacturer</label>
        </div>
        <div class="input-field col s4 offset-s1">
          <i class="material-icons prefix">create</i>
          <input name="model" id="model" type="text" class="validate" required formControlName="model" >
          <label for="model">Model</label>
        </div>
        <div class="input-field col s2 offset-s1">
          <i class="material-icons prefix">create</i>
          <input name="year" id="year" type="text" class="validate" required formControlName="year" >
          <label for="year">Year</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">info</i>
          <input name="plate" id="plate" type="text" class="validate" required formControlName="plate" >
          <label for="plate">License Plate</label>
        </div>
        <div class="input-field col s4 offset-s1">
            <i class="material-icons prefix">create</i>
            <input name="color" id="color" type="text" class="validate" required formControlName="color" >
            <label for="color">Color</label>
          </div>
        <div class="input-field col s1 offset-s1">
          <label>
            <input class="indigo accent-2" type="checkbox" formControlName="new" />
            <span>New</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="file-field input-field col s12">
          <div class="btn indigo lighten-2 ">
            <i class="material-icons">insert_photo</i>
            <span>File</span>
            <input type="file" class="" formControlName="img">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s4 offset-s2">
          <button class="btn-large pulse yellow lighten-4" type="submit" value="car" [disabled]="!cForm.valid" >
            <span class="deep-purple-text text-lighten-1">Submit</span>
            <i class="material-icons deep-purple-text right">send</i>
          </button>
        </div>
        <div class="col s4 offset-s2">
          <a routerLink="/client">
          <a class="btn waves-effect waves-light waves-red red accent-1"> <i class="material-icons right">cancel</i>Cancel</a>
          </a>    
        </div>
      </div>
    </form>
  </div>
</div>