.background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
.content {
    top: 18%;
    background: #ffeb3bda  ;
    color: #3d5afe;
    width: 98%;
    padding: 20px;
    margin: 0 1% 10% 1%;
    position: absolute;
}