<div class="container" style="margin-top:2%" >
    <div class="row" id="carInfoHeader">
        <div class="col-md-12">
            <div class="product-title">
                <h3>{{user.name}}'s Car </h3>
                <h5><i class="fa fa-map-marker"></i> <span ng-if="1==0" >(if in the Shop) At the Shop!</span> <span ng-if="1==1"> In your location</span></h5>
                <hr>
            </div>
        </div>
    </div>
    <div class="row" id="carDataDisplay" >
        <div class="col-md-8">
            <img src="../../../assets/logan-meis-201073.jpg" width="100%"/>
        </div>
        <div class="col-md-4">
            <div class="product-widget">
                <ul class="list-group">    
                    <li class="list-group-item"> <span class="badge badge-pill badge-primary">Model </span> {{car.model}} </li>
                    <li class="list-group-item"> <span class="badge badge-pill badge-primary">Make </span> {{car.make}} </li>
                    <li class="list-group-item"> <span class="badge badge-pill badge-primary">Year	</span> {{car.year}} </li>
                    <li class="list-group-item"> <span class="badge badge-pill badge-info">License Plate</span> {{car.plate}}</li>
                    <li class="list-group-item"> <span class="badge badge-pill badge-info">New </span> {{ car.new }}</li>
                    <li class="list-group-item"> <span class="badge badge-pill badge-info">Silver</span> Color </li>
                    <li class="list-group-item"> <span class="badge badge-pill badge-default">Created </span> {{car.createdAt | date:'fullDate'}} </li>
                    <li class="list-group-item"> <span class="badge badge-pill badge-default">Update </span> {{car.updatedAt | date:'fullDate'}} </li>
                    <li class="list-group-item"> <span class="badge badge-pill badge-warning">Last Repaired</span> Last Repaired</li>
                    <li class="list-group-item"> <span class="badge badge-pill badge-warning">Appointment On-Going?</span> Appointment Open </li>
                    <li class="list-group-item"> <span class="badge badge-pill badge-warning">To Be Picked Up?</span> Pick Up Notice </li>
                </ul>
            </div>
            <div class="car-appointment">
                <form class="form-inline">
                    <div class="form-group">
                    <input id="" name="appdate" type="date" placeholder="" class="form-control input-lg" required="">
                    </div>
                    <button type="submit" class="btn btn-success">Ask for an App</button>
                </form>
            </div>
        </div>
    </div>
    <hr>
</div>
    
<div class="container" id='Extra info'>
    <div class="row">
        <div class="col-md-8">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default" id="repairHistory">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        <h3> <span class="badge badge-secondary"> Repair History </span> </h3>
                        </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul>
                                <li>Date Repair - Summary - <button class="btn btn-sm btn-info">Details</button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="appHistory">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        <h3> <span class="badge badge-secondary"> Appointment History </span> </h3>
                        </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-hover table-dark table-striped">
                                <thead>
                                    <tr>
                                    <th>App Made on</th>
                                    <th>App Accepted on</th>
                                    <th>Repair Finished on</th>
                                    <th>(Days)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <td>app createdAt</td>
                                    <td>repair order createdAt</td>
                                    <td>app finish date</td>
                                    <td>calculate created - finish</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="repairItems">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        <h3> <span class="badge badge-secondary"> Items Purchased for Repairs </span> </h3>
                        </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-hover table-dark table-striped">
                                <thead>
                                    <tr>
                                    <th>Appointment ID</th>
                                    <th>Item</th>
                                    <th>Item description</th>
                                    <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <td>appID#</td>
                                    <td>item</td>
                                    <td>item desc</td>
                                    <td><button class="btn btn-warning btn-sm">View</button> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Customer Service : 011-45063800</h4>
        </div>
    </div>
</div>
