<video width="1280" height="720" class="background" autoplay muted loop>
    <source src="../../../assets/videos/shimmer.mp4" type="video/mp4">
</video>



<div class="content" >
    <div class="container">
        <div class="row" id="carInfoHeader">
            <div class="col-md-12">
                <div class="product-title">
                    <h3>{{user.name}}'s Car </h3>
                    <h5><span ng-if="1==0" > <i class="material-icons">location_on</i> At the Shop!</span> <span ng-if="1==1"> <i class="material-icons">location_searching</i> In your chosen location</span></h5>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col s8">
                <img src="../../../assets/logan-meis-201073.jpg" width="100%"/>
            </div>
            <div class="col s4">
                <ul class="collection deep-purple accent-1 z-depth-1">    
                    <li class="deep-purple accent-1 collection-item"><div>Make<span class="secondary-content"><i class="material-icons">send</i></span></div> </li>
                    <li class="deep-purple accent-1 collection-item"><div>Model<span class="secondary-content"><i class="material-icons">send</i></span></div> </li>
                    <li class="deep-purple accent-1 collection-item"><div>Year<span class="secondary-content"><i class="material-icons">send</i></span></div> </li>
                    <li class="deep-purple accent-1 collection-item"><div>License Plate<span class="secondary-content"><i class="material-icons">send</i></span></div> </li>
                    <li class="deep-purple accent-1 collection-item"><div>New<span class="secondary-content"><i class="material-icons">send</i></span></div> </li>
                    <li class="deep-purple accent-1 collection-item"><div>Color<span class="secondary-content"><i class="material-icons">send</i></span></div> </li>
                    <li class="deep-purple accent-1 collection-item"><div>Created<span class="secondary-content"><i class="material-icons">send</i></span></div> </li>
                    <li class="deep-purple accent-1 collection-item"><div>Last Updated<span class="secondary-content"><i class="material-icons">send</i></span></div> </li>
                    <li class="deep-purple accent-1 collection-item"><div>Last Repaired<span class="secondary-content">01/01/01</span></div> </li>
                </ul>
                <div class="car-appointment">
                    <form class="form-inline">
                        <div class="form-group">
                        <input id="" name="appdate" type="date" placeholder="" class="form-control input-lg" required="">
                        </div>
                        <button type="submit" class="btn btn-success">Ask for an App</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s6"><a (click)="switch(0)">Appointments</a></li>
                    <li class="tab col s6"><a (click)="switch(1)">History</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <span [ngSwitch]="menuView">
            <div class="col s10 offset-s1" *ngSwitchCase="0">
                <h5 class="deep-purple-text text-accent-4">Latest appointments</h5>
                <hr>
                <table class="highlight responsive-table centered">
                    <thead class="#ba68c8 purple lighten-2">
                        <td>Date</td>
                        <td>Time in the Shop</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01/01/01</td>
                            <td>5 days</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col s10 offset-s1" *ngSwitchCase="1">
                <h5 class="deep-purple-text text-accent-4">Car repair history</h5>
                <hr>
                <ul class="pagination">
                    <li class="waves-effect"><a (click)="switchH(0)"><i class="material-icons">chevron_left</i></a></li>
                    <li class="waves-effect" [ngClass]="{'active': historyView==item}" *ngFor="let item of sample"><a (click)="switchItem(item)">{{item}}</a></li>
                    <li class="waves-effect"><a (click)="switchH(1)"><i class="material-icons">chevron_right</i></a></li>
                </ul>
                
            </div>
            <div class="col s10 offset-s1" *ngSwitchDefault>
                Click one of the above to get more information about your car! 
            </div>
            </span>
        </div>
    </div>
</div>
