<nav class="nav-extended deep-purple lighten-1">
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo" style="padding:0px 5px 4px 20px" >
        <ng-container *ngIf="userLoggedIn; else other">
            <i class="material-icons">local_car_wash</i>
        </ng-container>
        <ng-template #other>
            <i class="material-icons">directions_car</i>
        </ng-template>
        Car Shop
        </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/story">Our Story</a></li>
        <li><a>User json {{user | json}}</a></li>
        <li><a> User {{user}}  </a></li>
        <ng-container *ngIf="userLoggedIn; else login">
          <li><a routerLink="/login">Logout</a></li>
          <li ><a  (click)="changeLog()"><i class="material-icons">person</i></a></li>  
        </ng-container>
        <ng-template #login>
          <li><a routerLink="/login">Login</a></li>
          <li><a (click)="changeLog()"><i class="material-icons">person_outline</i></a></li>
        </ng-template>
      </ul>
    </div>
    <div class="nav-content indigo lighten-2" *ngIf="userLoggedIn" >
      <ul class="tabs tabs-transparent">
        <li class="tab" *ngFor="let m of menu" ><a [routerLink] = "m.link"> <span class="yellow-text text-lighten-2"> {{m.name}} </span></a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <ul class="tabs tabs-transparent">
      <li class="tab" *ngFor="let m of menu" ><a [routerLink] = "m.link"> <span class="yellow-text text-lighten-2"> {{m.name}} </span></a></li>
    </ul>
  </ul>

        